<p id="notice"><%= notice %></p>

<td><%= link_to '投稿画面へGO!!', pictures_path %></td>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Profile image:</strong>
  <% if @user.profile_image.url %>
    <%= image_tag @user.profile_image.url %>
  <% end %>
</p>

<p>
  <strong>Profile content:</strong>
  <%= @user.profile_content %>
</p>

<td><%= link_to 'Edit', edit_user_path %></td>
