<td><%= link_to '投稿画面へGO!!', pictures_path %></td>

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>メール:</strong>
  <%= @user.mail %>
</p>

<p>
  <strong>プロフィール画像:</strong>
  <% if @user.profile_image.url %>
    <%= image_tag @user.profile_image.url %>
  <% end %>
</p>

<p>
  <strong>プロフィール内容:</strong>
  <%= @user.profile_content %>
</p>

<td><%= link_to '編集', edit_user_path %></td>
